<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>

<body>
    <nav class="flex justify-around bg-gray-900 text-white py-5 m-5 rounded-4xl items-center ">
        <div class="logo text-xl font-bold">logo</div>
        <ul class="flex gap-5">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </nav>
</body>

</html>